.btnToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #7a77;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
.btnToTop:hover {
    cursor: pointer;
    scale: 103%;
}
.btnToTop:active {
    scale: 95%;
}