.App {
    display: flex;
}
.bookImg {
    width: 100px;
}
.selectedGenre {
    background-color: #7a77;
}
.selectedGenre:hover, .staticGenre:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}