body {
    margin: 0;
    padding: 0;
}
.App {
    overflow-x: hidden; 
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    }
    .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a94;
    width: 100%;
    height: 100%;
    }
    .closeModalIcon {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
    }
    .closeModalIcon:hover {
        cursor: pointer;
    }
    .closeModalIcon:active {
        scale: 95%;
    }
.bookLogo {
    width: 100px;
    border-radius: 20px;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}
nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #ffebcd;
}
.cartIcon {
    width: 40px;
    margin-top: 50%;
}
.navBarIcons {
    display: flex;
}
.favoriteIcon {
    height: 40px;
    margin-top: 15%;
    margin-right: 10px;
}
.favoriteIcon:hover {
    cursor: pointer;
}
.favoriteIcon:active {
    scale: 95%;
}
.loginBtn {
    width: 40px;
    height: 40px;
    margin-top: 50%;
    background: none;
    border: none;
}
.loginBtn:hover {
    cursor: pointer;
}
.loginBtn:active {
    scale: 95%;
}
.logoutBtn {
    width: 40px;
    height: 40px;
    margin-top: 50%;
    background: none;
    border: none;
}
.logoutBtn:hover {
    cursor: pointer;
} 
.logoutBtn:active {
    scale: 95%;
} 
.bookImg {
    width: 100px;
}
.bookImg:hover {
    cursor: pointer;
}
.searchInput {
    width: 50%;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.searchInput input {
    width: 100%;
    height: 100%;
    border: 1px solid #7a77;
    border-radius: 5px;
    padding: 5px;
}
.searchInput input:focus {
    outline: none;
}
.carouselContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.particles-js {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background: url('https://particles.js.org/images/background3.jpg'); 
    background-position:cover;
}
.carouselContainer h1 {
    font-family: 'Marck Script', cursive;
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
}
.carouselItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 400px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.carouselImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-radius: 20px;
}
.carouselImg:hover {
    cursor: pointer;
    scale: 102%;
}
.carouselImg  img {
    width: 250px;
}
.carouselTitle h4 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
.carouselTitle h1 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}
.carouselBtnR:hover {
    cursor: pointer;
}
.carouselBtnR:active {
    scale: 95%;
}
.carouselBtnL:hover {
    cursor: pointer;
}
.carouselBtnL:active {
    scale: 95%;
}
.allGenreContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Marck Script', cursive;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    background-color: rgb(209, 179, 134);
}
.staticGenre {
    padding: 5px;
}
.selectedGenre {
    border-radius: 20px;
    background-color: #7a77;
    padding: 5px;
}
.selectedGenre:hover, .staticGenre:hover {
    background-color: #f7f7f7;
    border-radius: 20px;
    cursor: pointer;
    scale: 120%;
}
.bookDetails {
    display: flex;
    align-items: center;
    width: 80%;
    height: 90%;
    background-color: rgb(247, 247, 247, 0.8);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    position: relative;
}
.bookDetails div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    width: 50%;
}
.bookDetails img {
    width: 300px;
    height: 450px;
    border-radius: 20px;
}
.bookDetails h1 {
    font-family: 'Marck Script', cursive;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}
.bookDetails p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
.bookDetails h4 {
    position: absolute;
    left: 15%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
.bookDetailsHeader {
    justify-content: center;
}
.booksContainer {
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    background-color: #f7f7f7;
}
.booksItem {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 490px;
    margin-bottom: 50px;
    margin-right: 10px;
    text-align: center;
    border: 3px solid #7a77;
    border-radius: 20px;
    padding: 10px;
}
.booksItem button {
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
    width: 100%;
    height: 30px;
    background-color: #7a77;
    border: none;
    border-radius: 5px;
}
.booksItem button:active {
    scale: 95%;
}
.btn-cont {
    width: 80%;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: 10%;
    display: flex;
    flex-direction: column;
}
.booksItem button:hover {
    cursor: pointer;
}
.bookPrice {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.itemText {
    display: flex;
    flex-direction: column;
    text-align: start;
}
.quantity {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.quantityContainer {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.quantityContainer button {
    width: 30px;
    height: 30px;
    background-color: #7a77;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.quantityContainer button:hover {
    cursor: pointer;
}
.quantityContainer button:active {
    scale: 95%;
}
.cartItems {
    font-family: 'Montserrat Alternates', sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 100%;
}
.cartItem {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 455px;
    margin-bottom: 50px;
    text-align: center;
    border: 3px solid #7a77;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}
.cartItemCover {
    width: 100px;
}
.cartItem h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.cartItem button {
    width: 30px;
    height: 30px;
    background-color: #7a77;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
.cartItem button:active {
    scale: 95%;
}
.cart-btn-cont {
    width: 80%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 10%;
    display: flex;
    flex-direction: column;
}
.delIcon {
    position: absolute;
    top: 5px;
    right: 10px;
}
.delIcon:hover {
    cursor: pointer;
}
.cartField {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    padding: 20px;
}
.cartField h1 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-left: 20px;
    text-decoration: underline;
}
.cartField h3 {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}
.cartField h4 {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}
.paymentField {
    width: 100%;
    display: flex;
    padding: 20px;
}
.paymentField button {
    height: 30px;
    width: 100px;
    background-color: rgb(202, 164, 106);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.paymentField button:active {
    scale: 95%;
}
.paymentService {
    width: 100%;
}
.paymentService form {
    display: flex;
}
.paymentService form button{
    margin: 15px;
    width: 100px;
    height: 30px;
    background-color: rgba(219, 36, 36, 0.467);
    border: none;
    border-radius: 5px;
}
.paymentService form button:hover {
    cursor: pointer;
}
.paymentService form button:active {
    scale: 95%;
}
.StripeElement {
    border: 3px solid rgba(219, 36, 36, 0.467);
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(226, 225, 224);
    width: 100%;
}
.StripeElement--focus {
    border-color: rgba(219, 36, 36, 0.467);
}
.StripeElement--invalid {
    border-color: #fa755a;
}
.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
.hamburger, .hamburgerMenu {
    display: none;
}
.btnToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #7a77;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
.btnToTop:hover {
    cursor: pointer;
    scale: 103%;
}
.btnToTop:active {
    scale: 95%;
}
.btnChatBot {
    position: fixed;
    bottom: 70px;
    right: 20px;
    border: none;
}
.btnChatBot:hover {
    cursor: pointer;
    scale: 103%;
}
.btnChatBot:active {
    scale: 95%;
}
.modalChat {
    position: fixed;
    bottom: 250px;
    right: 0;
    width: 300px;
    height: 400px;
    z-index: 1;
}

@media all and (max-width: 1350px) {
    .hamburger, .hamburgerMenu {
        display: block;
    }
    .hamburger button {
        background-color: rgb(87, 165, 165);
        font-family: 'Montserrat Alternates', sans-serif;
        border: none;
        margin: 5px;
        border-radius: 5px;
    }
    .allGenreContainer {
        flex-direction: column;
        border-radius: 10px;
    }
    .selectedGenre, .staticGenre {
        padding: 10px;
        margin: 0;
    }
    .selectedGenre:hover, .staticGenre:hover {
        scale: none;
    }
    .hamburgerMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: fit-content;
        background-color: rgb(124, 184, 118);
        z-index: 10;
        transition: all 0.3s ease;
        transform: translateX(100%);
    }
    .hamburgerMenu.show {
        transform: translateX(0);
    }
    .wideDisplay {
        display: none;
    }
    .modal {
        overflow: scroll;
    }
    .overlay {
        min-height: 100%;
        height: auto;
    }
    .closeModalIcon {
        display: none;
    }
    .searchInput {
        width: 150px;
    }
    .bookLogo {
        width: 50px;
        margin-top: 20px;
    }
    .cartIcon {
        width: 28px;
        margin-top: 20px;
    }
    .favoriteIcon {
        width: 28px;
        margin-top: 15px;
        margin-right: 5px;
    }
    .loginBtn {
        width: 28px;
        height: 28px;
        margin-top: 15px;
    }
    .logoutBtn {
        width: 28px;
        height: 28px;
        margin-top: 15px;
    }
    .booksContainer {
        justify-content: center;
    }
    .bookDetails {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .bookDetails div {
        width: 100%;
    }
    .bookDetails img {
        margin-top: 50px;
        width: 150px;
        height: 200px;
    }
    .bookDetails h4 {
        display: none;
    }
    .bookDetails h1 {
        font-size: 20px;
    }
    .bookDetails p {
        font-size: 14px;
    }
    .cartItems {
        justify-content: center;
    }
    .carouselContainer {
        width: 90%;
    }
    .carouselItem {
        width: 90%;
    }
    .carouselImg {
        width: 90%;
    }
}
@media all and (max-width: 800px) {
    .carouselContainer {
        width: 95%;
    }
    .carouselItem {
        width: 95%;
        height: 300px;
    }
    .carouselImg img {
        width: 200px;
    }
    .carouselTitle h1 {
        font-size: 25px;
    }
    .carouselTitle h4 {
        font-size: 18px;
    }
    .carouselBtnR, .carouselBtnL{
        display: none;
    }
    .booksContainer {
        background:none;
    }
    .particles-js {
        position: fixed;
    }
    .booksItem {
        background-color: rgb(247, 247, 247, 0.8);
    }
}
@media all and (max-width: 500px) {
    .carouselContainer {
        width: 98%;
        padding: 10px;
    }
    .carouselItem {
        width: 98%;
        height: 250px;
    }
    .carouselImg img {
        width: 150px;
    }
    .carouselTitle h1 {
        font-size: 20px;
    }
    .carouselTitle h4 {
        font-size: 15px;
    }
}